// Variables
////////////////////////////////////////////////

$primaryFont: 'Heebo', sans-serif;;
$secondaryFont: 'Pokemon Fire Red', sans-serif;

// $brandRed: #ee1515;
$brandWhite: #FEFEFE;
$brandBlack: #111;
// $brandBlue: #255C99;
$brandLightGreen: #73AB84;
$brandDarkGreen: #4D805C;
$brandGold: #D1AC00;

$contentWidth: 1140px;
$contentSidePadding: 20px;


// Site Base
////////////////////////////////////////////////

body{
    color: $brandBlack;
    font-family: $primaryFont;
    background-color: $brandLightGreen;
    line-height: 1.4;
    height: 100%;
}

.wrap{
    margin: 0 auto;
    max-width: $contentWidth;
    width: 100%;
}

h1{
    font-size: 34px;
    font-weight: 700;
    line-height: 1.2;
}

h2{
    margin: 0px 0px 16px;
    font-size: 30px;
    font-weight: 700;
    line-height: 1.2;
}

p{
    margin: 0px 0px 20px;
    font-size: 18px;
}

// Header
////////////////////////////////////////////////

.site-header{
    padding: 10px $contentSidePadding;
    background-color: $brandDarkGreen;
    color: $brandWhite;

    &__inner{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
    }

    h1{
        margin: 0px;
    }

}

// Scoreboard
////////////////////////////////////////////////

.scoreboard{
    color: $brandWhite;

    p{
        margin: 0px 0px 5px;
        font-size: 20px;
        font-weight: 600;

        &:last-of-type{
            margin: 0px;
        }

    }

}

// Main Content
////////////////////////////////////////////////

.main-content{
    padding: 0px $contentSidePadding;
}

// GameBody
////////////////////////////////////////////////

.gameBody{
    padding: 70px 0px;
}

.gameCards-grid{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 30px
}

.gameCard{
    position: relative;
    padding: 5px 10px;
    background-color: $brandWhite;
    border: 3px solid $brandGold;
    border-radius: 20px;
    cursor: pointer;
    transition: transform .3s ease-in-out;

    &:hover,
    &:focus{
        transform: translateY(-6px);
    }

    &::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        opacity: .06;
        background-image: url('/assets/img/pokeball.png');
        background-position: center;
        background-size: contain;
    }

    &__inner{
        position: relative;
        z-index: 2;
    }

    p{
        text-transform: uppercase;
    }

}